{% extends 'layout.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="m-0">Symbol setting</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <ol class="breadcrumb float-sm-right">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">Symbol setting</li>
              </ol>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content-header -->
  
      <!-- Main content -->
      <div class="content">
        <div class="container-fluid">
          
          <div class="row">
            <div class="col-lg-6">

              <div class="card card-success">
                <div class="card-header">
                  <h3 class="card-title">Entry Point Spec</h3>
                  {% csrf_token %}
                </div>
                <!-- /.card-header -->
                <div class="card-body p-0">
                  <table class="table table-sm">
                    <thead>
                      <tr>
                        <th>Usage</th>
                        <th>Parameter</th>
                        <th>Spec</th>
                      </tr>
                    </thead>
                    <tbody>   
                        {% for spec in entryspecobjectss %}
                            <tr>
                              <td class="align-middle">
                                <div class="icheck-primary d-inline">
                                    <input type="checkbox" class="specusage" data-name="{{ spec.name }}" data-type="compare" id="{{spec.id}}"
                                    {% if spec.status == '1' %}
                                    checked
                                    {% endif %}
                                    
                                    >
                                        <label for="{{spec.id}}">
                                    </label>
                                </div>
                              </td>
                           
                                <td class="align-middle">{{spec.name}}</td>
                                <td >
                                  {% if spec.parameter_type == 'compare' %}
                                    <input type="text" data-id="{{spec.id}}" class="form-control specentrypointvalue" value="{{spec.entry_value}}" >
                                  {% else %}
                                
                                      <select class="form-control specentrypointvalue" data-id="{{spec.id}}" data-type="equal">
                                          <option value="{{spec.entry_value}}" 
                                            >{{spec.entry_value}}</option>
                                          <option value="{{spec.exit_value}}"
                                          >{{spec.exit_value}}</option>
                                      </select>
                                  
                                  {% endif %}
                                  
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>

  
            </div>
            <div class="col-lg-6">
              <div class="card card-info">
                <div class="card-header">
                  <h3 class="card-title">Sell Test Spec</h3>
                </div>
                <!-- /.card-header -->
                <!-- form start -->
                <form>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="ma100_sell_slope">MA100 Slope</label>
                      <input type="text" class="form-control" id="ma100_sell_slope" >
                    </div>
                  </div>
                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
                </form>
              </div>
  
            </div>
     
          </div>
          <!-- /.row -->
        </div><!-- /.container-fluid -->
      </div>
      <!-- /.content -->

      <script>
        $(document).on("click","#btnSaveBuyTestSpec",function() {
          saveBuyTestSpec($('#ma100_slope').val(),
              $('#ma100_arrow_below').val(),
              $('#macd_trend').val(),
              $('#macd_cross').val(),
              $('#rsi').val(),
              $('#ssma3line_uptrend').val(),
              $('#aligator_trend').val(),
              $('#ma5_slope').val(),
              $('#ma8_slope').val(),
              $('#ma13_slope').val(),
              $('#ma5_std').val(),
              $('#ma8_std').val(),
              $('#ma13_std').val(),
              $('#ma8_percent_diff_ma5').val(),
              $('#ma8_percent_diff_ma13').val()
          ).then(data => {
                toastr.info(`Buy Test spec has been updated`)
            }).catch(error => {})
        })

        function saveBuyTestSpec(ma100_slope,ma100_arrow_below,macd_trend,macd_cross,rsi,ssma3line_uptrend,aligator_trend,ma5_slope,ma8_slope,ma13_slope,ma5_std,ma8_std,ma13_std,ma8_percent_diff_ma5,ma8_percent_diff_ma13){
            return new Promise((resolve, reject) => {
                data = {
                    ma100_slope: ma100_slope,
                    ma100_arrow_below : ma100_arrow_below,
                    macd_trend : macd_trend,
                    macd_cross : macd_cross,
                    rsi : rsi,
                    ssma3line_uptrend : ssma3line_uptrend,
                    aligator_trend : aligator_trend,
                    ma5_slope : ma5_slope,
                    ma8_slope : ma8_slope,
                    ma13_slope : ma13_slope,
                    ma5_std : ma5_std,
                    ma8_std : ma8_std,
                    ma13_std : ma13_std,
                    ma8_percent_diff_ma5 : ma8_percent_diff_ma5,
                    ma8_percent_diff_ma13 : ma8_percent_diff_ma13,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                }
                $.ajax({
                    type: 'POST',
                    url: "{% url 'savebuytestspec' %}",
                    dataType : "json",
                    data: data,
                    beforeSend: function(){
                        $('#loader').show();
                    },
                    success: function(data) {
                        resolve(data)
                    },
                    complete:function(data){
                        $('#loader').hide();
                    },
                    error: function(error) {
                        reject(error)
                    },
                })
            })

       
        }

        $(document).on('change', '.specusage', function(e) {
              console.log('ok');
              let status = ($(this).is(":checked")) ? 1:0  
              console.log(status)
              changeSpecUsage($(this).attr("id"),status).then(data => {
                  toastr.info(`Spec ${$(this).data('name')} usage status has been updated`)
              }).catch(error => {})
          })

          function changeSpecUsage(id,status){  
              data = {
                    id: id,
                    status: status,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                } 
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'changespecusage' %}",
                    dataType : "json",
                    data: data,
                    success: function(data) {
                        resolve(data)
                    },
                    error: function(error) {
                        reject(error)
                    },
                })
            })
          }

          
          $(document).on('change', '.specentrypointvalue', function(e) {
              // console.log($(this).val());
              // let status = ($(this).is(":checked")) ? 1:0  
              // console.log(status)
              changeSpecEntryPointValue($(this).data('id'),$(this).val()).then(data => {
                  toastr.info(`Spec ${$(this).data('name')} value status has been updated`)
              }).catch(error => {})
          })

          function changeSpecEntryPointValue(id,value){  
              data = {
                    id: id,
                    value: value,
                    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val()
                } 
            return new Promise((resolve, reject) => {
                $.ajax({
                    type: 'POST',
                    url: "{% url 'changespecentrypointvalue' %}",
                    dataType : "json",
                    data: data,
                    success: function(data) {
                        resolve(data)
                    },
                    error: function(error) {
                        reject(error)
                    },
                })
            })
          }
      </script>

 
{% endblock %} 
